// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #28C0BB;
$teal: #f7fffe;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$light: #fffefe;
$light-gray: #d3d3d3;
$gray: #999999;
$dark-gray: #6b6b6b;
$dark: #474343;
$red-purple: #ac1a9c;
$navy:  #0e097e;
$dark-green: #0c7975;

// Width
$width-xsmall: 80px;
$width-small: 150px;
$width-medium: 240px;
$width-large: 300px;
$width-xlarge: 400px;
$width-2xlarge: 500px;

$sidenav-width: 300px;
$footer-height: 120px;


/* Add some uikit variables if desired */
$global-font-family: 'Roboto', sans-serif;
$navbar-nav-item-height: 60px;
$logo-font-size: 20px;
$global-font-size: 0.9em;
$global-large-font-size: 1.2em;
$global-primary-background: $blue;
$global-success-background: $green;
$dropdown-padding: 15px;
